.Register {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
}

.Register h1 {
    margin-bottom: 20px;
}

.Register input {
    display: block;
    width: calc(100% - 20px);
    margin: 10px auto;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.Register button {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 20px auto;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box;
}

.Register button:hover {
    background-color: #0056b3;
}
